@font-face {
   font-family: 'MontserratLight';
   src: url('/servicereferralagreement/static/src/fonts/Montserrat-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
.reportsa p, ul
{   
   text-align:justify; 
   font-size: 16px;
   line-height: 1.15;
   color: black;
   font-family: 'MontserratLight';
}
.reportsa table
{   
   font-family: 'MontserratLight' !important;
}