@font-face {
   font-family: 'MontserratLight';
   src: url('/servicereferralagreement/static/src/fonts/Montserrat-Light.ttf') format('truetype');
   font-style: normal;
   }

   @font-face {
      font-family: 'PlayfairDisplay';
      src: url('/pao_reviewer_certifier_agreement/static/src/fonts/PlayfairDisplay.ttf') format('truetype');
      font-style: normal;
  }
.page p, ul
{   
text-align:justify; 
font-size: 16px;
line-height: 1.15;
color: black;
font-family: 'MontserratLight' !important;
}
.page table tr td th
{
border:0px; 
background-color:white;
font-family: 'MontserratLight' !important; 
font-size: 16px; color: black;
}
.page table
{
width:100%; 
}
.page h3, h2, h1
{
font-size: 26px;
text-align:center;
font-weight:Bold;
font-family: 'PlayfairDisplay' !important;
color: black;
}
.page h4
{
font-size: 18px;
text-align:center;
font-weight:Bold;
font-family: 'PlayfairDisplay' !important;
color: black;
}
.header h3, h2, h1
{
font-size: 26px;
text-align:center;
font-weight:Bold;
font-family: 'PlayfairDisplay' !important;
color: black;
}
.header h4
{
font-size: 18px;
text-align:center;
font-weight:Bold;
font-family: 'PlayfairDisplay' !important;
color: black;
}