@font-face{
   font-family: 'Times New Roman';
   font-style: normal;
   src:url('/pao_globalgap_fans/static/src/fonts/times-new-roman-14.ttf') format('truetype');
}
@font-face{
   font-family: 'Montserrat';
   font-style: normal;
   src:url('/pao_globalgap_fans/static/src/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face{
   font-family: 'PlayfairDisplay';
   font-style: normal;
   src:url('/pao_globalgap_fans/static/src/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}
.page p, ul
{   
   text-align:justify; 
   font-size: 16px;
   line-height: 1.15;
   color: black;
   font-family: 'Montserrat';
   page-break-inside: avoid;
}
.page table tr td
{
   border:1px; 
   border-color: black;
   background-color:white;
   font-family: 'Montserrat'; 
   font-size: 16px; color: black;
}
.page table
{
   width:100%; 
}
.page h3, h2, h1
{
   font-size: 26px;
   text-align:center;
   font-weight:Bold;
   font-family: 'Montserrat';
   color: black;
}
.page h4
{
   font-size: 22px;
   text-align:center;
   font-weight:Bold;
   font-family: 'Montserrat';
   color: black;
}

