.page p, ul
{   
   text-align:justify; 
   font-size: 18px;
}
.page table tr td
{
   border:0px; 
   background-color:white;
}
.page table
{
   width:100%; 
}
.page h3, h2, h4
{
   text-align:center;
   font-weight:Bold;
}
